body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

nav {
    background-color: #215253;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.chart-container {
    width: 80%;
    margin: 20px auto;
}
