body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 36px;
}
nav {
    background-color: #215253;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.bar-container {
    width: 80%;
    margin: 20px auto;
}
